{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-nowrap">{{ user.email }}</td>
                    <td class="text-nowrap">
                        {{ admin.edit_btn(path_for('admin_users_edit', {'user': user.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	{{ paginator.render(pagination) }}
{% endblock %}
