/vendor/
/install/install.log
/runtime/install/
/runtime/twig_cache/
!/runtime/twig_cache/.gitkeep
/runtime/cache/
!/runtime/cache/.gitkeep
/runtime/logs/
!runtime/logs/.gitkeep
runtime/routes.php
/uploads/
!/uploads/.gitkeep
config.json
config.php
manifest.json
.idea/
.vscode/
