Options -Indexes
Options +FollowSymLinks

RewriteEngine On
# Allow asset folders through
RewriteRule ^(assets/.+) - [L]
# Protect files from being viewed
RewriteRule ^(upload.+) - [F,L]

RewriteRule ^install install/index.php [QSA,L]
RewriteRule ^cron cron.php [QSA,L]
RewriteRule ^ index.php [QSA,L]
