{% extends 'base.twig' %}

{% block content %}
<form action="{{ path_for('index') }}" method="post">
    {{ csrf_token() }}
    <div class="row">
        <input type="submit" class="btn" value="TEST">
    </div>
</form>
{% endblock %}
