<span class="dropdown">
    <button
            class="uk-icon-button  uk-margin-small-right"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="actionButtons{{ actionId }}"
    >
        <i class="fas fa-ellipsis-v"></i>
    </button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            {% block actions %}{% endblock %}
        </ul>
    </div>
</span>
