<span class="dropdown">
    <button
            class="uk-icon-button  uk-margin-small-right" uk-icon="more-vertical"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="actionButtons{{ actionId }}"
    >
        <span class="oi oi-ellipses"></span>
    </button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            {% block actions %}{% endblock %}
        </ul>
    </div>
</span>
