{% extends 'base.twig' %}

{% block nav_scroller %}
	<div class="nav-scroller bg-white box-shadow">
		<nav class="nav nav-underline">
			<a class="nav-link active" href="{{ path_for('index') }}">Main</a>
			<a class="nav-link" href="#">
				Friends
				<span class="badge badge-pill bg-light align-text-bottom">27</span>
			</a>
			<a class="nav-link" href="#">Explore</a>
			<a class="nav-link" href="#">Suggestions</a>
		</nav>
	</div>
{% endblock %}
