{% macro render(tabs, href) %}
    <ul class="uk-tab">
    {% for tab in tabs %}
        <li {% if tab.href == href %}class="uk-active"{% endif %}>
            <a href="{{ tab.href }}">{{ tab.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
