{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	{% include 'settings//tabs.twig' with {'href': currentHref} %}

    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <h2>Token</h2>
        <div class="uk-light uk-background-secondary">
            <b>&nbsp; gmx_connect {{ user.token }}</b>
        </div>
    </div>
</div>
{% endblock %}
