{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
	{% include 'settings//tabs.twig' with {'href': currentHref} %}
	<form action="{{ form.getAction() }}" method="post">
		{{ csrf_token() }}
		{{ forms.element_input(form.email) }}
		<div class="form-group">
			<input type="submit" class="btn btn-primary hvr-grow" value="{{ trans('buttons', 'save') }}">
		</div>
	</form>
{% endblock %}
