{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
	{{ csrf_token() }}
	{{ forms.element_input(form.login) }}
    <div class="form-group">
        <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'activate') }}">
    </div>
</form>
{% endblock %}
