html {
    background: #151d20;
    color: #cac5b6;
    font-size: 14px;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
    color: #cac5b6;
}

.avatar__holder {
    width: 200px;
    height: 200px;
    background: no-repeat center;
    background-size: contain;
    border: 1px dashed #38464e;
    border-radius: 10px;
    cursor: pointer;
}

.uk-card-secondary {
    background: #1e282d !important;
}

.avatar__holder:after {
    content: '+';
    position: absolute;
    bottom: 10px;
    left: 6px;
    font-weight: 700;
    font-size: 50px;
}

.xxl {
    font-size: 20vh;
}

.uk-width-xs {
    width: 100px;
}

.uk-width-xxs {
    width: 75px;
}

.uk-subnav > .uk-active > a {
    color: #f5ebb8;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #151d20;
}

.uk-card-default {
    background: #263137;
    color: #cac5b6;
    border-radius: 4px;
}

.uk-icon-button {
    cursor: pointer;
    color: #757575;
    background: rgba(158, 158, 158, 0.1);
}

.uk-icon-button.xs {

}

.uk-icon-button.s {

}

.uk-icon-button.m {
    width: 36px;
    height: 36px;
    font-size: 12px;
}

.uk-icon-button.l {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.uk-icon-button.xl {

}

.uk-icon-button:hover, .uk-icon-button:focus {
    background-color: rgba(158, 158, 158, 0.2);
    color: #757575;
    outline: none;
}

.uk-table-divider > tr:not(:first-child), .uk-table-divider > :not(:first-child) > tr, .uk-table-divider > :first-child > tr:not(:first-child) {
    border-top: 1px solid #38464e;
    box-shadow: 0px -1px #151d20;
}

.uk-navbar-dropdown, .uk-dropdown {
    background: rgba(0, 0, 0, 0.4);
    color: #666;
}

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 1px solid #212121;
}

a, .uk-link {
    color: #b3b3b3;
}

a:hover, .uk-link:hover {
    color: #e0e0e0;
    text-decoration: none;
}

.uk-notification-message {
    background: rgba(2, 2, 2, 0.7);
    color: #e2e2e2;
    border-radius: 10px;
}

.uk-notification-message-danger {
    color: #bb4545;
}

.uk-notification-message-success {
    color: #2d9460;
}

.uk-navbar-nav > li.uk-active > a {
    color: #f5ebb8;
    position: relative;
}

.uk-navbar-nav > li.uk-active > a:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 48px;
    border-left: 10px solid #b53838;
    border-top: 10px solid transparent;
}



.uk-modal-dialog {
    background: #263137;
}

.uk-modal-footer {
    padding: 15px 30px;
    background: #263137;
    border-top: 1px solid #38464e;
    box-shadow: 0px -1px #151d20;
    }

.uk-button-primary {
    background-color: transparent;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
}

.uk-button-primary:active, .uk-button-primary.uk-active, .uk-button-primary:hover, .uk-button-primary:focus {
    background-color: transparent;
    color: #f5ebb8;
    border: 1px solid #f5ebb8;
}

.uk-button-default {
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.uk-alert-success {
    text-align: center;
    background: #1d262a;
    color: #3d8116;
}

.uk-button-default:hover, .uk-button-default:focus {
    background-color: transparent;
    color: #404040;
    border-color: #404040;
}

.uk-card-default .uk-card-header {
    border-bottom: 2px solid #191919;
}

.uk-form-icon {
    top: 9px;
    left: 9px;
}

.uk-icon-button {
    border: 0;
}

.svg-inline--fa {
    width: 1.5em !important;
    height: 1.5em !important;
}

.dropdown-item > .svg-inline--fa {
    font-size: .875em;
}

.uk-button-secondary {
    background-color: transparent;
    color: #565656;
    border: 1px solid #565656;
}

.uk-button-secondary:hover, .uk-button-secondary:focus {
    color: #6c6c6c;
    background-color: transparent;
    border: 1px solid #6c6c6c;
}

.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    color: #9E9E9E;
    border: 1px solid rgba(255,255,255,0.05);
}

.uk-input, .uk-select, .uk-textarea {
    background: rgba(0, 0, 0, 0.2);
    color: #a0a0a0;
    border: 1px solid rgba(255,255,255,0.1);
}

.uk-form-label {
    color: #b7b7b7;
    font-size: 0.875rem;
}

fieldset {
    border: 1px dashed rgba(255,255,255,0.1);
    min-width: 100%;
}



.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: #999;
    border: 1px solid rgba(255,255,255,0.2);
}

.uk-card-default .uk-card-title {
    color: #f5ebb8;
}

.inputGroup {
    position: relative;
}

.inputGroup label {
    padding: 12px 30px;
    display: block;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     content: '';
     background-color: #a94b48;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) scale3d(1, 1, 1);
     transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
     opacity: 0;
     z-index: -1;
}

.inputGroup label:after {
     width: 32px;
     height: 32px;
     content: '';
     z-index: 2;
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
    color: #fff;
}

.inputGroup input:checked ~ label:before {
     transform: translate(-50%, -50%) scale3d(56, 56, 1);
     opacity: 1;
 }

.inputGroup input:checked ~ label:after {
     background-color: #f5ebb8;
     border-color: #f5ebb8;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ") no-repeat 5px 5px;
 }

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.switcher {
    position: relative;
    display: inline-block;
    padding-left: 54px;
}
.switcher input {
    display: none;
}

.switcher__indicator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #9a9a9a;
    border-radius: 50%;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.switcher__indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #40525d;
    border-radius: 10px;
    transition: all .3s ease;
}
.switcher input:checked + .switcher__indicator::after {
    background-color: #f5ebb8;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation-name: pulseout;
    animation-name: pulseout;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.switcher input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
    background-color: #6e6e6e;
}

@-webkit-keyframes pulsein {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}

@keyframes pulsein {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}
@-webkit-keyframes pulseout {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}
@keyframes pulseout {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}

.uk-tab > .uk-active > a {
    color: #FFFFFF;
    border-color: #1e87f0;
}
