html {
    color: #cac5b6;
    font-size: 14px;
    background: rgb(18,20,22);
    background: radial-gradient(circle, rgb(26, 28, 30) 0%, rgba(10,11,11,1) 100%);
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.15;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
    color: #cac5b6;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nav-link i {
    min-width: 20px;
}

.user-avatar-cell img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
}

.uk-accordion-title {
    color: #f5ebb8;
}

.uk-accordion-content {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.avatar__holder {
    width: 200px;
    height: 200px;
    background: no-repeat center;
    background-size: contain;
    border: 1px dashed #38464e;
    border-radius: 10px;
    cursor: pointer;
}

.uk-card-secondary {
    background: rgba(0, 0, 0, 0.1) !important;
}

.avatar__holder:after {
    content: '+';
    position: absolute;
    bottom: 10px;
    left: 6px;
    font-weight: 700;
    font-size: 50px;
}

.sidenav {
    position: fixed;
    width: 30px;
    top: 60px;
    z-index: 100;
    background: -webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.sidenav:hover {
    min-width: 200px;
}

.sidenav .uk-nav-sub {
    display: none;
}

.sidenav:hover .uk-nav-sub {
    display: block;
}

@media screen and (max-width: 959px) {
    .sidenav {
        width: 0px;
    }
}

.token {
    word-wrap: break-word;
}

.sidenav .nav-link {
    font-size: 1.3rem;
    display: flex !important;
    margin: 5px 4px;
}

.admin > .uk-sticky-placeholder {
    height: 80px !important;
}

.xxl {
    font-size: 20vh;
}

.uk-width-xs {
    width: 100px;
}

[class*='uk-width-xxs'] {
    width: 75px;
}

@media (max-width: 640px) {
    .uk-width-xxs\@s {
        width: 100%;
    }
}

.uk-subnav > .uk-active > a {
    color: #44a1d1;
    background: transparent;
    border-bottom: 2px solid #44a1d1;
}

.uk-subnav-pill > * > a:hover, .uk-subnav-pill > * > a:focus {
    background-color: transparent;
    color: #44a1d1;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: rgb(10, 11, 11);
}

.uk-card-default {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
}

div:active, div:focus {
    outline: none;
}
div::-moz-focus-inner {
    border: 0;
}

span[contenteditable] {
    padding: 10px;
    border: 1px solid transparent;
}

span[contenteditable]:focus{
    border: 1px solid rgba(82, 168, 236, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.9);
    outline: 0 none;
}

.user-avatar-cell {
    width: 30px;
}

.uk-text-success {
    color: #286332 !important;
}

.uk-text-danger {
    color: #7d2929 !important;
}

.status-icon {
    position: absolute;
    top: 16px;
    left: 32px;
}

.uk-overlay-primary {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    //background: rgba(0, 0, 0, 0.64);
    border-radius: 10px;
}

.border-10 {
    border-radius: 10px;
}

.uk-icon-button {
    cursor: pointer;
    color: #757575;
    background: rgba(158, 158, 158, 0.1);
}

.uk-icon-button.xs {

}

.error span {
    color: #44a1d1;
    font-size: 8em;
}

.error p {
    font-size: 3em;
    line-height: 0.5;
}
.error p:nth-child(odd) {
    color: #44a1d1;
    transform: skew(60deg, -30deg) scaleY(.66667);
}
.error p:nth-child(even) {
    font-size: 4em;
     transform: skew(0deg, -30deg) scaleY(1.33333);
 }

.uk-icon-button.s {

}

.uk-offcanvas-bar {
    background: #111214;
    box-shadow: 1px 0px 16px 0px black;
}

.uk-icon-button.m {
    width: 36px;
    height: 36px;
    font-size: 12px;
}

.uk-icon-button.l {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.uk-icon-button.xl {

}

.uk-icon-button:hover, .uk-icon-button:focus {
    background-color: rgba(158, 158, 158, 0.2);
    color: #44a1d1;
    outline: none;
}

.uk-table-divider > tr:not(:first-child), .uk-table-divider > :not(:first-child) > tr, .uk-table-divider > :first-child > tr:not(:first-child) {
    border-top: 1px dashed rgba(33, 33, 33, 0.5);
}

.uk-navbar-dropdown, .uk-dropdown {
    background: rgba(0, 0, 0, 0.8);
    color: #666;
}

.uk-overlay {
    padding: 20px 20px;
}

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 1px solid #212121;
}

.form-inline {
    display: inline-block;
}

a, .uk-link {
    color: #b3b3b3;
}

a:hover, .uk-link:hover {
    color: #e0e0e0;
    text-decoration: none;
}

.uk-notification-message {
    background: rgba(2, 2, 2, 0.7);
    color: #e2e2e2;
    border-radius: 10px;
}

.uk-notification-message-danger {
    color: #bb4545;
}

.uk-notification-message-success {
    color: #2d9460;
}

.uk-navbar-nav > li.uk-active > a {
    color: #44a1d1;
    font-weight: 700;
    position: relative;
    background: #2d2d2d;
    border-bottom: 2px solid #44a1d1;
}

.uk-navbar-dropdown-nav .uk-nav-header {
    color: #f5ebb8;
    font-weight: 700;
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    height: 60px;
}

.uk-modal-dialog {
    background: rgba(20, 21, 21, 0.5);
    box-shadow: 0px 0px 15px 4px black;
}

.uk-modal-footer {
    padding: 15px 30px;
    background: rgba(5, 5, 6, 0.5);
    border-top: 1px solid #38464e;
    box-shadow: 0px -1px #151d20;
    }

.uk-button-primary {
    background-color: #202020;
    color: #929292;
    border-bottom: 2px solid #44a1d1;
}

.uk-button-primary:active, .uk-button-primary.uk-active, .uk-button-primary:hover, .uk-button-primary:focus {
    background-color: #272727;
    color: #44a1d1;
    border-bottom: 2px solid #44a1d1;
}

.uk-button-secondary {
    background-color: #292929;
    color: #a0a0a0;
    border-bottom: 2px solid #525252;
}

.uk-button-secondary:hover, .uk-button-secondary:focus {
    background-color: #161616;
    color: #525252;
    border-bottom: 2px solid #525252;
}

.uk-button-default {
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.uk-alert-success {
    text-align: center;
    background: #333333;
    color: #9dc387;
}

.uk-button-default:hover, .uk-button-default:focus {
    background-color: transparent;
    color: #404040;
    border-color: #404040;
}

.uk-card-default .uk-card-header {
    border-bottom: 1px solid rgba(68, 161, 209, 0.2);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 0 0;
}

.uk-form-icon {
    top: 9px;
    left: 9px;
}

.uk-icon-button {
    border: 0;
}

.svg-inline--fa {
    width: 1.5em !important;
    height: 1.5em !important;
}

.dropdown-item > .svg-inline--fa {
    font-size: .875em;
}

.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    color: #9E9E9E;
    border: 1px solid rgba(255,255,255,0.05);
}

.uk-input, .uk-select, .uk-textarea {
    background: rgba(0, 0, 0, 0.2);
    color: #a0a0a0;
    border: 0px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid #525252;
    height: 41px;
}

.uk-form-label {
    color: #b7b7b7;
    font-size: 0.875rem;
}

fieldset {
    border: 1px dashed rgba(255,255,255,0.1);
    min-width: 100%;
}

.uk-background-secondary {
    background-color: #171717;
}

.uk-modal-header {
    padding: 15px 30px;
    background: #505050;
    border-bottom: 1px solid #333333;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    background: rgba(0, 0, 0, 0.3);
    border: 0px solid rgba(255,255,255,0.1);
    border-bottom: 2px solid #44a1d1;
    height: 41px;
    outline: none;
    color: #999;
}

.uk-card-default .uk-card-title {
    color: #D7A17C;
}

.inputGroup {
    position: relative;
}

.inputGroup label {
    padding: 12px 30px;
    display: block;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     content: '';
     background-color: #a94b48;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) scale3d(1, 1, 1);
     transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
     opacity: 0;
     z-index: -1;
}

.inputGroup label:after {
     width: 32px;
     height: 32px;
     content: '';
     z-index: 2;
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
    color: #fff;
}

.inputGroup input:checked ~ label:before {
     transform: translate(-50%, -50%) scale3d(56, 56, 1);
     opacity: 1;
 }

.inputGroup input:checked ~ label:after {
     background-color: #f5ebb8;
     border-color: #f5ebb8;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ") no-repeat 5px 5px;
 }

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.switcher {
    position: relative;
    display: inline-block;
    padding-left: 54px;
}
.switcher input {
    display: none;
}

.switcher__indicator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #9a9a9a;
    border-radius: 50%;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.switcher__indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #202020;
    border-radius: 10px;
    transition: all .3s ease;
}
.switcher input:checked + .switcher__indicator::after {
    background-color: #44a1d1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation-name: pulseout;
    animation-name: pulseout;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.switcher input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
    background-color: #6e6e6e;
}

@-webkit-keyframes pulsein {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}

@keyframes pulsein {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}
@-webkit-keyframes pulseout {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}
@keyframes pulseout {
    0%, 100% {
        top: 0px;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 3px;
        height: 14px;
        width: 26px;
    }
}

.uk-tab > .uk-active > a {
    color: #44a1d1;
    border-color: #44a1d1;
}

.uk-tab::before {
    border-bottom: 2px solid #2d2d2d;
}



svg.progress_circle {
    height: 100px;
    -webkit-transform: rotate(-90deg) scale(1, -1);
    transform: rotate(-90deg) scale(1, -1);
    width: 100px;
}

svg.progress_circle.r-50 {
    height: 50px;
    width: 50px;
}

svg.progress_circle.r-75 {
    height: 75px;
    width: 75px;
}

svg.progress_circle.r-150 {
    height: 150px;
    width: 150px;
}

.progress-bar__background {
    fill: none;
    stroke: #44a1d1;
    stroke-width: 1.8;
}

.progress-bar__text {
    fill: #ffffff;
    transform: rotate(90deg) scale(-1, 1);
}

.progress-bar__progress {
    fill: none;
    stroke: #44a1d1;
    stroke: #ffffff;
    stroke-dasharray: 100;
    stroke-width: 1.8;
    transition: stroke-dashoffset 3s ease-in-out;
}

ul.uk-sortable-drag {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul.uk-sortable-drag li {
    padding: 14px;
    display: inline-flex;
}
