html {
    background: #191919;
    color: #949494;
}

.uk-card-default {
    background: rgb(16, 16, 16);
    color: #949494;
}

.uk-icon-button {
    border: 1px solid #757575;
    color: #757575;
    background: transparent;
}

.uk-table-divider > tr:not(:first-child), .uk-table-divider > :not(:first-child) > tr, .uk-table-divider > :first-child > tr:not(:first-child) {
    border-top: 1px solid #191919;
}

.uk-navbar-dropdown, .uk-dropdown {
    background: rgba(0, 0, 0, 0.4);
    color: #666;
}

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 1px solid #212121;
}

a, .uk-link {
    color: #b3b3b3;
}

a:hover, .uk-link:hover {
    color: #e0e0e0;
    text-decoration: none;
}

.uk-navbar-nav > li.uk-active > a {
    color: #b53838;
}

.uk-modal-dialog {
    background: rgba(0, 0, 0, 0.5);
}

.uk-modal-footer {
    padding: 15px 30px;
    background: #000;
    border-top: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, rgba(76, 3, 0, 0.43), rgba(76, 3, 0, 0.43) 10px, transparent 10px, transparent 20px, #4c0300 20px, #4c0300 30px,transparent 30px, transparent 40px);
}

.uk-button-primary {
    background-color: transparent;
    color: #4b5b79;
    border: 1px solid #1a1a1a;
}

.uk-button-primary:active, .uk-button-primary.uk-active, .uk-button-primary:hover, .uk-button-primary:focus {
    background-color: rgba(14, 109, 205, 0.1);
    color: #fff;
    border: 1px solid #2a2a2a;
}

.uk-button-default {
    background-color: transparent;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}

.uk-button-default:hover, .uk-button-default:focus {
    background-color: transparent;
    color: #404040;
    border-color: #404040;
}

.uk-card-default .uk-card-header {
    border-bottom: 2px solid #191919;
}

.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: #0a0a0a;
    color: #9E9E9E;
    border: 1px dashed #131313;
}

.uk-card-default .uk-card-title {
    color: #b53838;
}

.inputGroup {
    position: relative;
}

.inputGroup label {
    padding: 12px 30px;
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     content: '';
     background-color: #a94b48;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) scale3d(1, 1, 1);
     transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
     opacity: 0;
     z-index: -1;
}

.inputGroup label:after {
     width: 32px;
     height: 32px;
     content: '';
     border: 2px solid #D1D7DC;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ") no-repeat 5px 5px;
    border-radius: 50%;
     z-index: 2;
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     transition: all 200ms ease-in;
}


.inputGroup input:checked ~ label {
    color: #fff;
}

.inputGroup input:checked ~ label:before {
     transform: translate(-50%, -50%) scale3d(56, 56, 1);
     opacity: 1;
 }

.inputGroup input:checked ~ label:after {
     background-color: #673333;
     border-color: #673333;
 }

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
