{% macro get_button(provider) %}
	<a
		href="{{ path_for('auth', {'provider': provider}) }}"
		class="uk-icon-button uk-margin-small-right"
	>
		<i class="fab fa-{{ provider }} fa-sm"></i>
	</a>
{% endmacro %}
