{% extends 'base.twig' %}

{% block content %}
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true">
        <div class="uk-text-center error">
            <span>
                <i class="fas fa-hand-middle-finger"></i>
            </span>
            <p>403</p>
            <p>Not allowed</p>
        </div>
    </div>
{% endblock %}
