{% extends 'base.twig' %}

{% import 'macros/punishments.twig' as punishments_macro %}

{% block style %}
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
<div class="uk-grid-medium uk-child-width-1-2@m uk-margin" uk-grid="masonry: true">
	<div>
		{% include 'index/servers.twig' with({'servers': servers}) %}
	</div>
	<div>
		{% include 'index/punishments.twig' with({'punishments': punishments}) %}
	</div>
	<div>
		{% include 'index/privileges.twig' with({'privileges': privileges}) %}
	</div>
</div>
{% if is_guest() %}
</div>
	<div class="uk-section uk-section-dark uk-margin-large-bottom">
		<div class="uk-container">
			<h3 class="uk-heading-line uk-text-center"><span>Мало информации?</span></h3>
			<div class="uk-flex uk-flex-middle uk-flex-center uk-child-width-1-4">
				<div class="uk-text-center">
					Войдите, чтобы узнать больше информации<br>
					<a href="{{ path_for('login') }}" class="uk-button uk-button-primary uk-button-small uk-margin">Войти</a><br>
					Или <a href="{{ path_for('login') }}">присоединяйтесь</a> к GameX бесплатно
				</div>
			</div>
			<hr>
		</div>
	</div>
<div class="uk-container">
{% endif %}
{% endblock %}
