{% extends 'base.twig' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Group</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for privilege in privileges %}
            <tr>
                <td>{{ privilege.group.title }}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(pagination) }}
    <a href="{{ path_for('admin_players_privileges_create', {'player': player.id}) }}" class="btn btn-primary">
        {{ trans('buttons', 'create') }}
    </a>
{% endblock %}
